<app-form
  [titleTemplate]="titleTemplate"
  [contentTemplate]="contentTemplate"
  [actionsTemplate]="actionsTemplate"
  [formFormGroup]="formFormGroup"
  (onSubminEvent)="onSubmitEvent.emit(null)"
>
</app-form>

<ng-template #titleTemplate>{{ title }}</ng-template>

<ng-template #contentTemplate>
  <ng-container [ngTemplateOutlet]="tripFormContentTemplate"></ng-container>
</ng-template>

<ng-template #actionsTemplate>
  <app-button-group
    [submitButtonText]="submitButtonText"
    [submitOnly]="submitOnly"
    (deleteEvent)="deleteTrip()"
  ></app-button-group>
</ng-template>
