<app-mat-card
  [titleTemplate]="titleTemplate"
  [contentTemplate]="contentTemplate"
  [actionsTemplate]="actionsTemplate"
>
</app-mat-card>

<ng-template #titleTemplate>
  {{ title }}
</ng-template>

<ng-template #contentTemplate>
  <app-select-list
    [items]="trips"
    [listItemTemplate]="listItemTemplate"
    (selectionEvent)="onSelect()"
    #list
  ></app-select-list>
</ng-template>

<ng-template #actionsTemplate> </ng-template>

<ng-template #listItemTemplate let-listItem="listItem">
  {{ listItem.tripName }}
</ng-template>
