<app-form
  [titleTemplate]="titleTemplate"
  [contentTemplate]="contentTemplate"
  [actionsTemplate]="actionsTemplate"
  [formFormGroup]="userForm"
></app-form>

<ng-template #titleTemplate>
  <mat-icon color="primary">{{ icon }}</mat-icon>
  {{ title }}
</ng-template>

<ng-template #contentTemplate>
  <app-form-input
    label="Username"
    placeholder="Username"
    [formInputType]="formInputTypesProvider.formInputTypes.text"
    inputFormControlName="username"
    [parentFormGroup]="userForm"
    autocomplete="username"
    [inputValidationErrorMessages]="
      validationErrorMessagesProvider.usernameErrorMessages
    "
  ></app-form-input>
  <app-form-input
    label="Password"
    placeholder="Password"
    [formInputType]="formInputTypesProvider.formInputTypes.password"
    inputFormControlName="password"
    [parentFormGroup]="userForm"
    autocomplete="current-password"
    [inputValidationErrorMessages]="
      validationErrorMessagesProvider.passwordErrorMessages
    "
  ></app-form-input>
</ng-template>

<ng-template #actionsTemplate>
  <app-button
    [buttonText]="buttonText"
    [buttonDisabled]="userForm.invalid"
  ></app-button>
  <a
    mat-flat-button
    [routerLink]="routerLinkValue"
    routerLinkActive="active"
    *ngIf="routerLinkValue && routerText"
    >{{ routerText }}</a
  >
</ng-template>
